<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
    <link rel='stylesheet' href='//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css' />
    <script src='//cdn.bootcss.com/jquery/2.1.4/jquery.min.js'></script>
    <script src='//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
  </head>
  <body class="container">

  	
  	<ul class="nav nav-pills">
  		<% if(logined) { %>
  		<li role="presentation">
  			<a href="javascript:;" data-toggle="modal" data-target="#myModal">添加</a>
  		</li>
  		<li role="presentation">
  			<a href="/logout">退出</a>
  		</li>
  		<% } else { %>
  		<li role="presentation">
  			<a href="javascript:;" data-toggle="modal" data-target="#loginDialog">登录</a>
  		</li>
		<% } %>
  	</ul>

	<form action="/login" id="loginDialogForm" method="post">
	  	<div class="modal fade" id="loginDialog" tabindex="-1" role="dialog">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">Modal title</h4>
		      </div>
		      <div class="modal-body">
		       
			  	    <!-- <label for="title"><input type="text" name="title" />标题</label>
			  		<input type="submit" value="添加" /> -->

			  	<div class="form-group">
			  		<label for="loginname">登录名称</label>
					<input type="text" name="loginname"  class="form-control title" id="loginname" placeholder="loginname" />
			  	</div>
			  	<div class="form-group">
			  		<label for="loginname">登录密码</label>
					<input type="password" name="password"  class="form-control title" id="password" placeholder="password" />
			  	</div>
			  	<div class="form-group">
			  		<label for="loginname"><img src="/refresh" /></label>
					<input type="text" name="vnum"  class="form-control title" id="vnum" placeholder="图片验证码" />
			  	</div>
			  </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <input type="submit" class="btn btn-default" value="登录" />
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</form>
  	<form action="/add" method="post">
	  	<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">Modal title</h4>
		      </div>
		      <div class="modal-body">
		       
			  	    <!-- <label for="title"><input type="text" name="title" />标题</label>
			  		<input type="submit" value="添加" /> -->

			  	<div class="form-group">
			  		<label for="exampleInputEmail1">标题</label>
					<input type="text" name="title"  class="form-control title" id="exampleInputEmail1" placeholder="title" />
			  	</div>
			  </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <input type="submit" class="btn btn-default" value="添加" />
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</form>
  	<form action="/update" method="post">
	  	<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">Modal title</h4>
		      </div>
		      <div class="modal-body">
		       
			  	    <!-- <label for="title"><input type="text" name="title" />标题</label>
			  		<input type="submit" value="添加" /> -->

			  	<div class="form-group">
			  		<label for="exampleInputEmail1">标题</label>
			  		<input type="hidden" id="updateIndex" name="index" />
					<input type="text" name="title"  class="form-control title" id="updateTitle" placeholder="title" />
			  	</div>
			  </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <input type="submit" class="btn btn-default" value="更改" />
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</form>
  	<ul class="list-group">
    <% list.forEach(function(article, index) { %>
		<li class="list-group-item"><%= article.title %> 
			<% if (logined) { %>
			<a href="/del?index=<%=index%>">删除</a>
			<a href="#" onclick="edit(<%=index%>)" data-toggle="modal" data-target="#myModal2">更改</a>
			<% } %>
		</li>
   	<% }) %>
   	</ul>
   	<script>
   		function edit(index) {
   			// alert(index);
   			$.get('/get/' + index, function(result) {
   				console.log(JSON.stringify(result));3
   				// $('#myModal2 input')[0].value = result.title;
   				$('#updateIndex')[0].value = index;
   				$('#updateTitle')[0].value = result.title;
   			})
   		}

   		$('#loginDialogForm')[0].onsubmit = function (event) {
   			event.preventDefault();

   			$.post('/login', {loginname: $('#loginname')[0].value, password: $('#password')[0].value, vnum: $('#vnum')[0].value}, function(result) {
   				if (result === 'success') {
   					window.location.reload();
   				} else {
   					alert('login error!');
   				}
   			});
   			return false;
   		}
	</script>
  </body>
</html>
